{% extends 'base.html.twig' %}

{% block title %}Inicio de sesion{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

    <div class="text-center">
        <form class="form-signin" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Inicia sesion</h1>
            <label for="inputUsername" class="sr-only">Nombre de usuario</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   placeholder="Usuario" required autofocus>
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña"
                   required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Recordarme
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Iniciar sesion
            </button>
        </form>
    </div>
{% endblock %}
