<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            {#<script src="{{ asset('js/react.production.min.js') }}"></script>#}
            {#<script src="{{ asset('js/react-dom.production.min.js') }}"></script>#}
            {#<script src="{{ asset('js/babel.min.js') }}"></script>#}
            {#<script src="{{ asset('js/react-app.js') }}"></script>#}
        {% endblock %}
    </body>
</html>
