{{ form_start(form, {
    'attr': {
        'class': 'form-inline js-progress-new',
        'novalidate': 'novalidate'
    }
}) }}
    {{ form_errors(form, {
        'attr': {
            'class': 'mr-2 mb-2 form-control',
        }
    }) }}

    {{ form_widget(form.date, {
        'attr': {
            'class': 'mr-2 mb-2 form-control',
        }
    }) }}
    {{ form_widget(form.weight, {
        'attr': {
            'class': 'mr-2 mb-2 form-control',
        }
    }) }}
    {{ form_widget(form.measure, {
        'attr': {
            'class': 'mr-2 mb-2 form-control',
        }
    }) }}

    <button type="submit" class="btn btn-primary mb-2">Crear</button>
{{ form_end(form) }}
