{% extends 'progress/page.html.twig' %}

{% block title %}Progreso de {{ app.user.username }}{% endblock %}

{% block main %}

    <div class="js-progress-table">

        <div class="js-new-progress-form-wrapper mb-4">
            {{ include('progress/_form_add.html.twig') }}
        </div>

        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Peso</th>
                <th scope="col">Medida</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for progress in progresses %}
                {{ include('progress/_row_progress.html.twig') }}
            {% endfor %}
            </tbody>
        </table>

        <div id="js-progress-chart"></div>
    </div>

    {% if maxPages > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('progress_list', {page: page-1 < 1 ? 1 : page-1}) }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% for i in 1..maxPages %}
                    {% set activeClass = "" %}
                    {% if i == page %}
                        {% set activeClass = "active" %}
                    {% endif %}
                    <li class="page-item {{ activeClass }}">
                        <a href="{{ path('progress_list', {page: i}) }}" class="page-link ">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if page < maxPages %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path('progress_list', {page: page+1 <= maxPages ? page+1 : page}) }}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        let ProcessApp = {
            initialize: function ($wrapper) {
                this.$wrapper = $wrapper;

                this.$wrapper.on(
                    'click',
                    '.js-remove-progress',
                    this.progressDelete
                );

                this.$wrapper.on(
                    'submit',
                    '.js-progress-new',
                    this.handleNewFormSubmit.bind(this)
                );

            },

            progressDelete: function (e) {
                e.preventDefault();

                $(this).addClass('text-danger');

                $(this).find('.fas')
                    .removeClass('fa-trash-alt')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                let deleteUrl = $(this).data('url');
                let $row = $(this).closest('tr');

                $.ajax({
                    url: deleteUrl,
                    method: 'DELETE',
                    success: function () {
                        $row.fadeOut();
                    }
                });
            },

            handleNewFormSubmit: function (e) {
                e.preventDefault();

                let $form = $(e.currentTarget);

                let $tbody = this.$wrapper.find('tbody');

                $.ajax({
                    url: $form.attr('action'),
                    method: 'POST',
                    data: $form.serialize(),
                    success: function (data) {
                        $tbody.prepend(data);
                    },
                    error: function (jqXHR) {
                        $form.closest('.js-new-progress-form-wrapper')
                            .html(jqXHR.reponseText);
                    }
                });

            }
        };

        $(document).ready(function () {
            let $wrapper = $('.js-progress-table');
            ProcessApp.initialize($wrapper);
        });
    </script>
{% endblock %}